page-home {

    .side-bar{
        background-color: black;
    }

    .menu-inner{
        background-color: black !important;
    }

    .toolbar-background-md,.toolbar-background-ios {
        border-color: black;
        background: black;
        color: white;
    }
    
    .toolbar-title-md,.toolbar-title-ios {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }

    .test{
        background-color: black;
    }

    .menu-option{
        background-color: black;
        color:white;
        font-weight: bold;
        text-align: center;
    }
}
